.aboutcol{
    border: 1px solid #e5e5e5;
    width: 135px;
    height: 120px;
    background-color: #ffffff;
    float: left;
    margin-left: 21px;
}
.aboutcol span{
    float: left;
    margin-left: 21%;
    margin-top: 10px;
}
.aboutcol img{
    float: left;
    width: 36%;
    margin-left: 32%;
    margin-top: 10px;
}
.aboutrow{
    margin-top: 15px;
}
