
.dealcon{
    padding: 0;
    margin: 0;
}
[padding] h3:first-child{
    margin-top: 15px;
    margin-left: 20px;
}
.dealcon p{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    font-size: 18px;
}