.talkli{
    width: 100%;
}
ion-app.md [margin-top],ion-app.md [margin-top] .scroll-content{
    margin-top: 1px;
}
.talkli img{
    width: 60px;
    border-radius: 50%;
    margin-left: 12px;
    float: left;
}
.talkna{
    float: left;
    margin-left: 20px;
}
.talkna p{
    margin-top: 10px;
}
.time{
    float: right;
    margin-right: 30px;
}
.talkna font{
    font-size: 20px;
}