.imgs{
    border-radius: 50%;
    margin-left: 140px;
}
ion-title{
    text-align: center;
}
.list{
    margin-top: 30px;
    font-size: 18px;
}
.btn{
    font-size: 24px;
    margin-left: 140px;
    margin-top: 20px;
}