.setli{
    width: 100%;
}
.list{
    margin-top: 0;
}
.setli span{
    margin-left: 15px;
    float: left;
}
.setli ion-icon{
    float: right;
    margin-right: 15px;     
}
.setli span{
    margin-left: 15px;
    font-size: 18px;
}
.setli ion-icon{
    float: right;
    margin-right: 15px;
}
.item-md.item-toggle ion-label{
    margin-left: 15px;
    font-size: 18px;
}
.outdl button{
    margin-top: 50px;
    text-align: center;
    margin-left: 30%
}