.minebg{
    background-color: #f9f9f9;
}
.touimg{
    margin-left: 41.65%;
    border-radius: 50%;
    width: 16.7%;   
    margin-top: 30px;
    float: left;
}
.bjzl{
    float: right;
    color: #fedb47;   
    background-color: transparent;
    border: 1px solid #fedb47;
    margin-top: 30px;
    margin-right: 25px;
    width: 90px;
}
.minetou{
    text-align: center;
    float: left;
    width:100%;
    margin-top: 10px;
    padding-bottom: 15px;
}
ion-app.md {
    font-size: 20px;
}
.content-md .minetou:last-child{
    color: gray;
}
.shang{
    background-color: white;
    width: 100%;
    height: 223px;
    border-bottom: 1px solid #eeeeee;
}
.mineli{
    width: 100%;
}
.listf{
    margin-left: 15px;
    float: left;
}
.minelist span{
    line-height: 48px;
    float: left;
    margin-left: 25px;
}
.minelist ul li{
    width: 100%;
    float: left;
}
.listl{
    float: right;
    margin-right: 20px;
    height: 21px;
    margin-top: 13px;
}
.minese{
    width: 100%;
    margin-top: 10px;
}