.searchbar{
    background-color: #fedb47;
}
.searchbar-md .searchbar-input{
    border-radius: 10px;
}
.gend{
    width: 32%;
    text-align: center;
}
.item-radio.item-md ion-label {
    margin-left: 15px;
}
.input-wrapper{
    width: 100%;
    padding-right: 20px;
}
.popover-md .popover-content {
    width:32%;
}