
.slider{
    width: 100%;
    height: auto;
}
img{
    background: none;
}
.cont{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
ion-app.md [padding] .scroll-content {
    padding: 0px;
}
.seali{
    float: left;
}
.seali ul{
    padding-left:0px;
}
.seali ul li{
    list-style: none;
    width: 25%;
    height: 125px;
    float: left;
    border: 1px solid #e6e6e6;
    padding-left:0px;
}
.seali img{
    float: left;
    margin-top: 20px;
    margin-left: 25%;
    height: 45px;
}
.seali span{
    float: left;
    margin-top: 15px;
    font-size: 18px;
    margin-left:20%;
}
.item-md.item-block .item-inner {
    padding-right: 0px;
}
.item-md{
    padding-left: 0px;
}
.label-md{
    margin: 0;
}
.you{
    border-top: 1px solid gra;
    border-bottom: 1px solid gra;  
    height: 60px;
    width: 100%;
    float: left;  
}
.you ul{
    margin-left: 20px;
    padding-left: 0px;
    float: left;
}
.seali .label-md{
    margin:0;
}
.label-md {
    margin: 13px 0px 13px 0;
}
.little{
    width: 100%;
    height:25px;
    border-bottom: 1px solid gra;
    float: left;
}
.little ul{
    padding-left: 0;
    margin-left: 20px;
}
.little span{
   float: left;
}
.listli{
    float: left;
    width: 130px;
    margin-left: 15px;
    margin-top: 12px;
}
.listli ul{
    float: left;
    padding-left: 0px;
}
.listli li span{
    color: gray;
}
.one{
    float: left;
    width: 100%;
    height: 100px;
}
.one{
    padding-left: 0px;
    margin-left: 20px;
}
.one img{
    height: 70px;
    margin-top: 15px;
}
.listi .label-md {
    margin:0;
}
.listi{
    height: auto;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}
.zje{
    width: 80px;   
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.zje p{
    color: #c01444;
    font-size: 25px;
}
.zje span{
    color: gray;
}
.seali ion-col{
    border: 1px solid #e6e6e6;
    float: left;
}
ion-list .list{
    margin-top: 0;
    float: none;
}
.menulst{
    width:100%;
    font-size:20px;
    margin-top:25px;
}
.menulst ion-item{
    background-color: #f9f9f9;
}
.menulst ul li{
    margin-top: 30px;
    margin-left: 15px;
}
.menulst ul li img{
    width: 85px;
    border-radius: 50%;
}