.inforde_yy ul li{
    float: left;
    font-size: 20px;
    margin-left: 15px;
}
.inforde_four{
    color: #cc0033;
}
.inforde_dq ul li{
    font-size: 20px;
    float: left;
}
.inforde_1{
    color: #b6b6b6;
    margin-left: 15px;
}
.inforde_2{
    color: #b6b6b6;
    margin-left: 40px;
}