
.coopertwo{
    float: left;
    width: 100%;
    height: 70px;
}
.item-md .item-button{
    height: 40px;
    width: 120px;
    font-size: 1.1em;
    text-align: center;
}
.list .coopertwo button {
    margin-left: 40%;
    margin-top: 5px;
}
